---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos recientes</div>
  </div>

  <HorizontalCard
    title="Documenta 15"
    img="/FOTODOCUMENTA.jpg"
    desc="Participación en documenta 15 en el 2022 con la red de ARTS COLLABORATORY."
    url="https://platohedro.org/2022/10/12/code-as-commons-documenta-fifteen/"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="CYPHERSPLATO"
    img="/CYPHERPLATO.jpg"
    desc="Somos Cypher_plato: un grupo de estudio del mundo cripto, iniciado en la Corporación Platohedro, basado en la conversación, la libre expresión, el compartir y generar espacios seguros donde soñar."
    url="https://cypherplatxs.github.io/web/index.html"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Proyectos </div>
  </div>

  <HorizontalCard
    title="PLATOHEDRO"
    img="/logoplatohedro.png"
    desc="Platohedro, una organización de arte y tecnología con gran impacto social que desde el 2004 viene trabajando en la ciudad de Medellín y cada día más conectada con el mundo."
    url="https://platohedro.org/"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="tranvia Ayacucho"
    img="/post_img.webp"
    desc="oordinación de equipo de Intervenciones de fachadas y espacios para obra mural en viaducto del tranvia de Ayacucho.Museo de Antioquia"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
